<div style='width:50%'>
<h3>Добавить студента в группу <%= h @group.name %></h3>
<%= error_messages_for 'student' %>
<%form_for(:student, @student, :url => {:action => 'add_student', :id => @group})  do |form|%>
	<label style="display:block">№ зачетной книжки</label>
	<%=form.text_field :code, {:style => "width: 100%;display:block;"}%>
	<label style="display:block">Фамилия</label>
	<%=form.text_field :surname, {:style => "width: 100%;display:block;"}%>
	<label style="display:block">Имя</label>
	<%=form.text_field :name, {:style => "width: 100%;display:block;"}%>
	<label style="display:block">Отчество</label>
	<%=form.text_field :parent_name, {:style => "width: 100%;display:block;"}%>
	<input type="submit" value="Ok">
	<%=link_to "Отмена", {:action => 'group', :id => @group}%>
<%end%>
</div>